<% @page_title = 'アカウント編集' %>

<div class="page-header">
  <h1>アカウントの編集</h1>
</div>

<%= render 'shared/errors', obj: @user %>

<%= form_for [:admin, @user], class: 'form-horizontal' do |f| %>
  <%= render 'form', f: f %>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-2">
      <%= f.submit 'アカウントを更新する', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
